.form-control.ng-touched.ng-invalid 
{ 
    border : 2px  solid rgb(241, 100, 100);
    border-left : 5px solid red 
}
.form-control.ng-touched.ng-valid 
{ 
    border : 2px  solid rgb(81, 236, 127);
    border-left : 5px solid green ;
}

.style1 {
    font-family: 'Lucida Sans';
    font-size: 40px;
}

