<app-navbar></app-navbar>
 <div class="container">
                  <h3>Devoxx - Planner</h3>
                  <ul class="menu">
                      <li><a href="#/saved">Reload a saved configuration of slots/talks</a></li>
                      <li><a href="#/slots?confType=uni">All University slots</a></li>
                      <li><a href="#/slots?confType=tia">All Tools-in-Action slots</a></li>
                      <li><a href="#/slots?confType=lab">All Hands-on Labs slots</a></li>
                      <li><a href="#/slots?confType=bof">All BOF slots</a></li>
                      <li><a href="#/slots?confType=conf">All Conferences slots</a></li>
                      <li><a href="#/slots?confType=quick">All Quickies slots</a></li>
                      <li><a href="#/slots?confType=key">All Keynotes slots</a></li>
                      <li><a href="#/slots?confType=trn">All Training slots</a></li>
                    </ul>
                 
                     <p>
                         <a href="/admin/sanitycheck " class="btn btn-sm btn-warning"><i class="icon-medkit"></i> Sanity check for schedule</a>
                     </p>
                 
               <div class="col-lg-12 ng-scope">
                     <h3>All slots</h3>
                     <button class="btn btn-dark">Save allocation</button>
               </div>
           
            <router-outlet></router-outlet>
            
            
 </div> 
 <br/>

<footer>  
 <div class="footer-bottom">
    <div class="d-flex justify-content-center">
          <p>&copy; Copyright 2018 - DevoxxMA.  All rights reserved.</p>
    </div>
  </div>
</footer>          